<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control" %>
  </div>

  <!-- ass field to upload picture to book -->
  <div class="form-group">
  <%= f.label :picture %>
  <%= f.file_field :picture, class: "form-control-file" %>
  </div>

  <p>
    <%= rating_for @book, 'review', star: 5, enable_half: true, disable_after_rate: false %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
